@charset "UTF-8";



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Solide Mirage_Etroit';
    src:    url('Etroit/Solide_Mirage-Etroit_web.eot');
    src:    url('Etroit/Solide_Mirage-Etroit_web.eot?#iefix') format('embedded-opentype'),
            url('Etroit/Solide_Mirage-Etroit_web.woff') format('woff'),
            url('Etroit/Solide_Mirage-Etroit_web.woff2') format('woff2'),
            url('Etroit/Solide_Mirage-Etroit_web.ttf') format('truetype'),
            url('Etroit/Solide_Mirage-Etroit_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Solide Mirage';
    src:    url('Mono/Solide_Mirage-Mono_web.eot');
    src:    url('Mono/Solide_Mirage-Mono_web.eot?#iefix') format('embedded-opentype'),
            url('Mono/Solide_Mirage-Mono_web.woff') format('woff'),
            url('Mono/Solide_Mirage-Mono_web.woff2') format('woff2'),
            url('Mono/Solide_Mirage-Mono_web.ttf') format('truetype'),
            url('Mono/Solide_Mirage-Mono_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/






/*ELEMENTS*/
body {
/*	background-image: url('img/png/zip-05_2.jpg');
	background-size: auto 90%;
	background-position: center 20px;
	padding: 10%;
	background-repeat: no-repeat;
	background-color: white;
	overflow-x: hidden;*/
	font-family: 'Work Sans', sans-serif;
	font-size: 14pt;
	font-weight: 400;
	/*cursor: url('img/png/mouse-09.png'), auto;*/
	/*background-color: #c7ff2d;*/

}

h1 {
	/*font-family: "Courier New", serif;*/
	color: red;
	font-family: 'Work Sans', sans-serif;
	font-size: 35pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 39px;
	text-align: center;
	

}

mark {
    background-color: white;
    color: red;
}

a {
	text-decoration: none;
	color: red;
}


p {
	margin-bottom: 15pt;
	line-height: 20pt;
}

b {
	font-weight: 700;
}


#mainwrapper a:hover{

	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
}

/*font-family: 'Work Sans', sans-serif;
	font-weight: 700;*/


#mainwrapper {
	width: 80%;
	margin: 0 auto;

}

#menuwrapper {
	text-align: center;
	margin: 100px auto;
}

#showwrapper {
	text-align: center;
}

#showwrapper .artists {
	text-align: left;
	margin: 100px auto 0 auto;
	width: 70%;
	color: red;
	font-size: 1.2em;
	line-height: 1.2em;
}

#showwrapper .poster {
	width: 80%;
	margin-bottom: 100px;
}

#menuwrapper p{
	margin-top: 100px;
}

#content {
	padding: 10px 10px;
}

#welcomeContent {
	text-align: center;

}

#home_container {
/*	background: url('img/home_footer.svg') no-repeat center center;
*/	background-size: contain;
	padding: 20% 0;
	width: 100%;
}

#home_container section {
	width: 60%;
	margin: 0 auto;
	color: white;
	background-color: rgba(255, 0, 0);
	padding: 6% 10%;
}

#page3_container section {
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	width: 60%;
	margin: 0 auto;
	color: red;
	padding: 6% 10%;
	text-align: left;
	/*font-size: 17px;*/
	font-size: calc(.5vw + .5vh + .5vmin);


}


.version {
	font-family: "Solide Mirage_Etroit", serif;
	text-align: center;
    background-color: red;
    padding: 14px 0;
    color: white;
    display: block;
    width: 300px;
    margin: 80px auto 20px;
}

sub {
	display: block;
	font-weight: 200;
	margin-bottom: 70px;
	color: red;
}

/*NAV*/ 

header {
	position: fixed;
	left: 0;
	top: 5%;
	z-index: 666;
}

header ul {
	list-style-type: none;

	font-size: 1.2em;
	text-align: right;
	font-weight: 100;
}

header li {
	background-color: red;
	color: white;
	padding: 10px 10px 10px 0px;
	margin: 20px 0;
	width: 150px;
}

header li:hover {
	width: 170px;
}




/*CUSTOM CLASSES*/

.italic {
	font-family: 'Noto Sans', sans-serif, italic;
	font-style: italic;
}

.subtextheader {
	font-family: 'Noto Sans', sans-serif;
	font-style: bold;
	font-size: 9px;
	
}
.subtext {
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-size: 9px;
	
}

#logo {
	padding: none;
}

#logo img {
	width: 150px;
}

.imgwrap {
	padding: 10px 30%;


}

.exwrap {
	padding: 10px 50px;
}

.exwrap img {
	width:100%;
}
/*
nav a {
    border: none;
    border-bottom: 5px solid transparent;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;

    }
nav a:hover {
	border-color: rgba(0,250,10,0.5);
	font-style: italic;
	font-weight: bold;
}*/

/*p { font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 16.5px;*/


}


.imgwrap img {
	width: 100%;
	display: block;
	margin: 0 auto;

}

.pubwrap img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

img { 
	margin: 0 auto;
	display: block;

}




/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



*/
                                               
@media (min-width: 780px){
#mainwrapper {

	padding: 0px 100px; 
/*	padding element takes numbers clockwise: top, right left bottom or 
	two numbers that represent top-bottom left-right*/
}

#content {
	max-width: 800px;
	display: block;
	margin: 0 auto;
}

.exwrap {
	padding: 10px 100px;
}

.exwrap img {
	width:40% !important;
}



}

@media (min-width: 480px) {
	#mainwrapper {

	padding: 0px 50px; 
/*	padding element takes numbers clockwise: top, right left bottom or 
	two numbers that represent top-bottom left-right*/
}

.imgwrap img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.exwrap {
	padding: 10px 50px;
}

.exwrap img {
	width:60%;
}

.pubwrap img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

#mainwrapper header nav {
/*	Nav bar containing links in header */
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	width: 68%;
	float: left;
	color: rgba(146,146,146,1.00);
}

/*nav a {
    border: none;
    border-bottom: 5px solid transparent;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-bottom: 0px;


}*/
}

@media only screen and (max-width: 600px) {
    #mainwrapper {
        margin-top: 120px;
        width: 95%;
    }

    body {
    	font-size: 14pt;
    }

    p {
    	line-height: 16pt;
    }

    h1 {
    	font-size: 24pt;
    }

    header {
    	top: 0;
    	left: -5%;
    	position: fixed;
    	margin: 0 auto;
    	transform-origin: center right;

    	-webkit-transform: rotate(90deg);
    	-moz-transform: rotate(90deg);
    	-o-transform: rotate(90deg);
    	-ms-transform: rotate(90deg);
    	transform: rotate(90deg);
    }

    header li:hover {
    	width: auto;
    	/*margin: 0;*/
    }
    #home_container section {
    	width: 70%;
    	padding: 8% 8%;
    }
}